server {
  server_name {{ domain }};

  access_log /var/log/nginx/{{ domain }}-access.log;
  error_log /var/log/nginx/{{ domain }}-error.log;

  {% if custom_root is defined -%}
  root {{ custom_root }};
  {% else -%}
  root {{ root }}/{{ domain }}/public;
  {% endif %}

  {% if ldap is defined -%}
  auth_ldap "Requires Authentication";
  auth_ldap_servers {{ ldap.server }};
  {% endif %}

  location / {
    {% if hhvm is not defined %}
    try_files maintenance.html $uri/index.html $uri.html $uri @{{ domain }};
    {% else %}
    try_files maintenance.html $uri $uri/ /index.php?$args;
    {% endif %}
    expires 30d;
    access_log on;
  }

  {% include "_alias.conf.j2" %}
  {% include "_location.conf.j2" %}

  # include conf.d/images;
  include conf.d/drop;

  {% if hhvm is not defined %}
  location @{{ domain }} {
    # needed to forward user's IP address to rails
    proxy_set_header X-Real-IP $remote_addr;

    # needed for HTTPS
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header Host $http_host;
    proxy_redirect off;
    proxy_max_temp_file_size 0;
    proxy_set_header Remote-User $remote_user;
    proxy_pass http://{{ domain }};
  }
  {% endif %}

  {% block hhvm %}{% endblock %}
  {% block websockets %}{% endblock %}
}

server {
  server_name www.{{ domain }};
  rewrite ^ $scheme://{{ domain }}$request_uri? permanent;
}

{% block upstream %}{% endblock %}
