#!/bin/sh

cd /tmp
curl -O http://ftp.ruby-lang.org/pub/ruby/{{ ruby.folder }}/ruby-{{ ruby.version }}.tar.gz
tar -zxvf ruby-{{ ruby.version }}.tar.gz
cd ruby-{{ ruby.version }}
./configure --prefix=/usr/local --enable-shared
make
make install
cd ..
rm -rf /tmp/ruby-{{ ruby.version }}*