[default]

user = www-data
group = www-data

listen = 127.0.0.1:9000

listen.backlog = 64

listen.owner = www-data
listen.group = www-data
listen.mode = 0660

listen.allowed_clients = 127.0.0.1

pm = dynamic
pm.max_children = 8
pm.start_servers = 2
pm.min_spare_servers = 2
pm.max_spare_servers = 4
pm.process_idle_timeout = 300
pm.max_requests = 500
pm.status_path = /status

;ping.path = /ping
;ping.response = pong

access.log = /var/log/php5-fpm-$pool.log
access.format = %R - %u %t "%m %r%Q%q" %s %f %{mili}d %{kilo}M %C%%

slowlog = /var/log/php5-fpm-$pool.slow.log

request_slowlog_timeout = 6s
request_terminate_timeout = 120s

rlimit_files = 1024
rlimit_core = 0

catch_workers_output = yes

security.limit_extensions = .php

env[HOSTNAME] = $HOSTNAME
env[PATH] = /usr/local/bin:/usr/bin:/bin
env[TMP] = /tmp
env[TMPDIR] = /tmp
env[TEMP] = /tmp
env[APP_ENV] = production
