#
# {{ ansible_managed }}
#

Port {{ ssh.port }}
Protocol 2

{% if ecdsa.stat.exists %}
HostKey /etc/ssh/ssh_host_ecdsa_key
{% endif %}

{% if dsa.stat.exists %}
HostKey /etc/ssh/ssh_host_dsa_key
{% endif %}

{% if rsa.stat.exists %}
HostKey /etc/ssh/ssh_host_rsa_key
{% endif %}

UsePrivilegeSeparation yes
KeyRegenerationInterval 3600

ServerKeyBits 1024
SyslogFacility AUTH
LogLevel INFO

LoginGraceTime 120
PermitRootLogin no
StrictModes yes

RSAAuthentication no
PubkeyAuthentication yes
AuthorizedKeysFile .ssh/authorized_keys

IgnoreRhosts yes
RhostsRSAAuthentication no
HostbasedAuthentication no

PermitEmptyPasswords no
ChallengeResponseAuthentication no
PasswordAuthentication no

UsePrivilegeSeparation sandbox

AllowAgentForwarding no
AllowTcpForwarding no
GatewayPorts no
X11Forwarding no
X11DisplayOffset 10
PrintMotd no
PrintLastLog yes
TCPKeepAlive yes

AcceptEnv LANG LC_*

Subsystem sftp internal-sftp

UsePAM yes